@model IEnumerable<ImportService.DTO.BatchListItemVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Unmodified Batches</h2>

@Html.ActionLink("Update Prices", "Calculate")

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormSize)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormSize)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BatchId })
            </td>
        </tr>
    }

</table>
