@model ImportModel.PlantGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plant Names in this Group</h2>

<div>
    <h4>You can Add / Remove Plants to this group - You CAN NOT remove a group with plants attached to this group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantName.Sku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantName.Sku)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlantGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
