@model ImportModel.PlantName

@{
    ViewBag.Title = "Delete Plant Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to delete this Plant Name?</h3>
<div>

    <hr />
    <dl style="font-size: 1.8em;" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            
        </dt>

        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Permanently Delete" class="btn btn-primary" />
            }
        </dd>

    </dl>


</div>
<hr />

<div>
    @Html.ActionLink("Back to Name List", "Index", null, new { @class = "btn btn-primary" })
</div>
